.contenedor{
    border: 5px solid #e1bee7;
    background-color: wheat;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    place-content: center;
    gap: 5px;
}
.item1{
    background-color: aqua;
    display: grid;
    place-content: center;
}
.item2{
    background-color:blueviolet;
    grid-column-start: 2;
    grid-column-end: 4;
}
.item3{
    background-color:rgb(24, 210, 14);
    grid-column-start: 1;
    grid-column-end: 3;
}
.item4{
    background-color:rgb(210, 14, 86);
}
.item5{
    background-color:rgb(83, 14, 210);
}
.item6{
    background-color:rgb(233, 175, 3);
}
.item7{
    background-color:rgba(14, 17, 210, 0.574);
}